<div class="parent-main">
    <h1>Books</h1>
    <% if @book.errors.any? %>
        <% @book.errors.count %>件のエラーが発生しました
        <ul>
            <% @book.errors.full_message.each do |message| %>
            <li><%= message %></li>
    <% end %>        
    
<div class="main">
    
    <h3 class="Title"></h3>
    <h3 class="Body"></h3>
    <div class="book-list">
        <%= @books.each do |book| %>
        <!---->1
        <div class="book-title">
            <span><%= book.title %></span>
        <div class="book-body">
            <span><%= book.body %></span>
        </div>    
        <div class="book-redirect">
            <p class="new-show">
                <a class="@book.show" href="book_path(:id)">Show</a>
            </p>
            <p class="new-edit">
                <a class="@book.edit" href="edit_book_path(:id)">Edit</a>
            </p>
            <p class="Destroy">
                <%= link_to "Destroy" book_path (@book.id), method: :delete, "deta-confirm" => "Are you sure?" %>
            </p>
        </div>    
        </div>
        <% end %>   
    </div>    
</div>


<h2>New book</h2>
<%= form_with model: @book do |f| %>
    <h3>Title</h4>
    <%= f.text_field :title %>

    <h3>Body</h4>
    <%= f.text_area :body %>

    <%= f.submit 'Create Book' %>
<% end %>



